<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingpivot.mapper.MemberPaymentMapper">
    <insert id="insert" parameterType="com.kingpivot.model.MemberPayment">
        INSERT INTO memberPayment (
        id,
        <if test="name!=null">
            name,
        </if>
        <if test="orderCode!=null">
            orderCode,
        </if>
        <if test="applicationID!=null">
            applicationID,
        </if>
        <if test="companyID!=null">
            companyID,
        </if>
        <if test="siteID!=null">
            siteID,
        </if>
        <if test="deviceID!=null">
            deviceID,
        </if>
        <if test="memberOrderID!=null">
            memberOrderID,
        </if>
        <if test="objectDefineID!=null">
            objectDefineID,
        </if>
        <if test="objectID!=null">
            objectID,
        </if>
        <if test="objectName!=null">
            objectName,
        </if>
        <if test="memberID!=null">
            memberID,
        </if>
        <if test="receiveMemberID!=null">
            receiveMemberID,
        </if>
        <if test="applyTime!=null">
            applyTime,
        </if>
        <if test="receiveCompanyID!=null">
            receiveCompanyID,
        </if>
        <if test="amount!=null">
            amount,
        </if>
        <if test="description!=null">
            description,
        </if>
        <if test="paywayID!=null">
            paywayID,
        </if>
        <if test="paySequence!=null">
            paySequence,
        </if>
        <if test="paymentType!=null">
            paymentType,
        </if>
        <if test="verification!=null">
            verification,
        </if>
        <if test="payFrom!=null">
            payFrom,
        </if>
        <if test="payTime!=null">
            payTime,
        </if>
        <if test="status!=null">
           status,
        </if>
        <if test="ipaddr!=null">
            ipaddr,
        </if>
        <if test="currencyDefineID!=null">
            currencyDefineID,
        </if>
        createdTime,
        modifiedTime,
        isValid,
        isLock
        )
        VALUES(
        #{id},
        <if test="name!=null">
            #{name},
        </if>
        <if test="orderCode!=null">
            #{orderCode},
        </if>
        <if test="applicationID!=null">
            #{applicationID},
        </if>
        <if test="companyID!=null">
            #{companyID},
        </if>
        <if test="siteID!=null">
            #{siteID},
        </if>
        <if test="deviceID!=null">
            #{deviceID},
        </if>
        <if test="memberOrderID!=null">
            #{memberOrderID},
        </if>
        <if test="objectDefineID!=null">
            #{objectDefineID},
        </if>
        <if test="objectID!=null">
            #{objectID},
        </if>
        <if test="objectName!=null">
            #{objectName},
        </if>
        <if test="memberID!=null">
            #{memberID},
        </if>
        <if test="receiveMemberID!=null">
            #{receiveMemberID},
        </if>
        <if test="applyTime!=null">
            #{applyTime},
        </if>
        <if test="receiveCompanyID!=null">
            #{receiveCompanyID},
        </if>
        <if test="amount!=null">
            #{amount},
        </if>
        <if test="description!=null">
            #{description},
        </if>
        <if test="paywayID!=null">
            #{paywayID},
        </if>
        <if test="paySequence!=null">
            #{paySequence},
        </if>
        <if test="paymentType!=null">
            #{paymentType},
        </if>
        <if test="verification!=null">
            #{verification},
        </if>
        <if test="payFrom!=null">
            #{payFrom},
        </if>
        <if test="payTime!=null">
            #{payTime},
        </if>
        <if test="status!=null">
            #{status},
        </if>
        <if test="ipaddr!=null">
            #{ipaddr},
        </if>
        <if test="currencyDefineID!=null">
            #{currencyDefineID},
        </if>
        NOW(),
        NOW(),
        1,
        0
      )
    </insert>

    <insert id="insertMemberPay" parameterType="java.util.Map">
        INSERT INTO memberPay (
        id,
        <if test="name!=null">
            name,
        </if>
        <if test="applicationID!=null">
            applicationID,
        </if>
        <if test="siteID!=null">
            siteID,
        </if>
        <if test="companyID!=null">
            companyID,
        </if>
        <if test="description!=null">
            description,
        </if>
        <if test="orderCode!=null">
            orderCode,
        </if>
        <if test="memberID!=null">
            memberID,
        </if>
        <if test="receiveMemberID!=null">
            receiveMemberID,
        </if>
        <if test="dealType!=null">
            dealType,
        </if>
        <if test="amount!=null">
            amount,
        </if>
        <if test="status!=null">
            status,
        </if>
        <if test="verification!=null">
            verification,
        </if>
        <if test="currencyDefineID!=null">
            currencyDefineID,
        </if>
        <if test="rightType!=null">
            rightType,
        </if>
        createdTime,
        modifiedTime,
        isValid,
        isLock
        )
        VALUES(
        #{id},
        <if test="name!=null">
            #{name},
        </if>
        <if test="applicationID!=null">
            #{applicationID},
        </if>
        <if test="siteID!=null">
            #{siteID},
        </if>
        <if test="companyID!=null">
            #{companyID},
        </if>
        <if test="description!=null">
            #{description},
        </if>
        <if test="orderCode!=null">
            #{orderCode},
        </if>
        <if test="memberID!=null">
            #{memberID},
        </if>
        <if test="receiveMemberID!=null">
            #{receiveMemberID},
        </if>
        <if test="dealType!=null">
            #{dealType},
        </if>
        <if test="amount!=null">
            #{amount},
        </if>
        <if test="status!=null">
            #{status},
        </if>
        <if test="verification!=null">
            #{verification},
        </if>
        <if test="currencyDefineID!=null">
            #{currencyDefineID},
        </if>
        <if test="rightType!=null">
            #{rightType},
        </if>
        NOW(),
        NOW(),
        1,
        0
      )
    </insert>

    <select id="checkIdIsValid" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT id FROM memberPayment WHERE id=#{id} AND isValid=1 AND isLock=0
    </select>

    <select id="findById" parameterType="String" resultType="com.kingpivot.model.MemberPayment">
      SELECT * FROM memberPayment WHERE id=#{id} AND isValid=1 AND isLock=0
    </select>

    <select id="getMemberPayByID" parameterType="String" resultType="com.kingpivot.model.MemberPay">
      SELECT * FROM memberPay WHERE id=#{id} AND isValid=1 AND isLock=0
    </select>

    <update id="update" parameterType="com.kingpivot.model.MemberPayment">
        UPDATE memberPayment
        <set>
            <if test="paySequence != null">
                paySequence=#{paySequence},
            </if>
            <if test="payTime != null">
                payTime=#{payTime},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="amount != null">
                amount=#{amount},
            </if>
            <if test="paywayID != null">
                paywayID=#{paywayID},
            </if>
            <if test="payFrom != null">
                payFrom=#{payFrom},
            </if>
            <if test="orderCode != null">
                orderCode=#{orderCode},
            </if>
            <if test="objectDefineID != null">
                objectDefineID=#{objectDefineID},
            </if>
            <if test="objectID != null">
                objectID=#{objectID},
            </if>
            <if test="isValid != null">
                isValid=#{isValid},
            </if>
            <if test="isLock != null">
                isLock=#{isLock},
            </if>
            <if test="modifier != null">
                modifier=#{modifier},
            </if>
            modifiedTime=NOW()
        </set>
        WHERE id=#{id}
    </update>

    <select id="getPayTime" parameterType="String" resultType="java.sql.Timestamp">
      SELECT payTime FROM memberPayment WHERE id=#{id} AND isValid=1 AND isLock=0
    </select>

    <select id="getByObjectID" parameterType="java.lang.String" resultType="com.kingpivot.model.MemberPayment">
         SELECT * FROM memberPayment WHERE objectID=#{objectID} AND isValid=1 AND isLock=0 ORDER BY createdTime DESC LIMIT 1
    </select>

    <select id="getMemberPaymentList" parameterType="java.util.Map" resultType="com.kingpivot.api.dto.memberPayment.MemberPaymentListDto">
        SELECT mp.id memberPaymentID,mp.*,a.name applicationName,s.name siteName,m.name memberName,m.avatarURL memberAvatar,
        mb.name memberBankName,mmp.name memberPaywayName,rc.name receiveCompanyName,rs.name receiveShopName,rm.name receiveMemberName,rm.avatarURL receiveMemberAvatar,
        pp.name paywayName,rpp.name returnPaywayName,mem.name memberOrderName,p31.name payCurrencyDefineName
        FROM memberPayment mp
        LEFT JOIN application a ON mp.applicationID = a.id AND a.isValid= 1 AND a.isLock =0
        LEFT JOIN site s ON mp.siteID = s.id AND s.isValid= 1 AND s.isLock =0
        LEFT JOIN member m ON mp.memberID = m.id AND m.isValid= 1 AND m.isLock =0
        LEFT JOIN memberbank mb ON mp.memberBankID = mb.id AND mb.isValid= 1 AND mb.isLock =0
        LEFT JOIN memberpayway mmp ON mp.memberPaywayID = mmp.id AND mmp.isValid= 1 AND mmp.isLock =0
        LEFT JOIN company rc ON mp.receiveCompanyID = rc.id AND rc.isValid= 1 AND rc.isLock =0
        LEFT JOIN shop rs ON mp.receiveShopID = rs.id AND rs.isValid= 1 AND rs.isLock =0
        LEFT JOIN member rm ON mp.receiveMemberID = rm.id AND rm.isValid= 1 AND rm.isLock =0
        LEFT JOIN payway pp ON mp.paywayID = pp.id AND pp.isValid= 1 AND pp.isLock =0
        LEFT JOIN payway rpp ON mp.returnPaywayID = rpp.id AND rpp.isValid= 1 AND rpp.isLock =0
        LEFT JOIN memberorder mem ON mp.memberOrderID = mem.id AND mem.isValid= 1 AND mem.isLock =0
        LEFT JOIN currencyDefine p31 ON mp.payCurrencyDefineID = p31.id AND p31.isValid= 1 AND p31.isLock =0
        WHERE mp.isValid =1 AND mp.isLock =0
        <if test="applicationID!=null">
            AND mp.applicationID=#{applicationID}
        </if>
        <if test="memberID!=null">
            AND mp.memberID=#{memberID}
        </if>
        <if test="receiveMemberID!=null">
            AND mp.receiveMemberID=#{receiveMemberID}
        </if>
        <if test="paywayID!=null">
            AND mp.paywayID=#{paywayID}
        </if>
        <if test="objectID!=null">
            AND mp.objectID=#{objectID}
        </if>
        <if test="payFrom!=null">
            AND mp.payFrom=#{payFrom}
        </if>
        <if test="returnType!=null">
            AND mp.returnType =#{returnType}
        </if>
        <if test="status1!=null">
            AND mp.status =#{status}
        </if>
        <if test="payCurrencyDefineID != null"> AND mp.payCurrencyDefineID=#{payCurrencyDefineID} </if>
        <if test="paidAmount != null"> AND mp.paidAmount=#{paidAmount} </if>
        <if test="status != null">
            and mp.status in
            <foreach item="item" index="index" collection="status" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="beginTime != null">
            and mp.applyTime &gt;= #{beginTime}
        </if>
        <if test="endTime != null">
            and mp.applyTime &lt;= #{endTime}
        </if>
        <if test="keyWords!=null">
            AND (mp.name LIKE #{keyWords}
            OR mp.description LIKE #{keyWords}
            OR mp.orderCode LIKE #{keyWords})
        </if>
        <choose>
            <when test="sortTypeName!= null">
                <if test="sortTypeName==1">
                    ORDER BY mp.name ASC
                </if>
                <if test="sortTypeName==2">
                    ORDER BY mp.name DESC
                </if>
            </when>
            <when test="sortTypeAmount!= null">
                <if test="sortTypeAmount==1">
                    ORDER BY mp.amount DESC
                </if>
                <if test="sortTypeAmount==2">
                    ORDER BY mp.amount ASC
                </if>
            </when>
            <when test="sortTypeTime!= null">
                <if test="sortTypeTime==1">
                    ORDER BY mp.applyTime DESC
                </if>
                <if test="sortTypeTime==2">
                    ORDER BY mp.applyTime ASC
                </if>
            </when>
        </choose>
    </select>

    <select id="selectIsCreated" parameterType="java.util.Map" resultType="com.kingpivot.model.MemberPayment">
        SELECT * FROM memberPayment
        <where>
            <if test="applicationID != null and applicationID != ''">
                AND applicationID = #{applicationID}
            </if>
            <if test="memberID != null and memberID != ''">
                AND memberID = #{memberID}
            </if>
            <if test="cardCode != null and cardCode != ''">
                AND cardCode = #{cardCode}
            </if>
            <if test="paywayID != null and paywayID != ''">
                AND paywayID = #{paywayID}
            </if>
            <if test="amount != null">
                AND amount = #{amount}
            </if>
            <if test="memberOrderID != null and memberOrderID != ''">
                AND memberOrderID = #{memberOrderID}
            </if>
            AND isValid = 1
            AND isLock = 0
        </where>
        ORDER BY createdTime DESC
        LIMIT 1
    </select>

    <select id="getOutSystemDtoById" resultType="com.kingpivot.api.dto.memberPayment.OutMemberPaymentDto">
        SELECT mp.id memberPaymentID,mp.*,a.name applicationName,c.name companyName,s.name siteName,m.name memberName,
        mb.name memberBankName,my.name memberPaywayName,rc.name receiveCompanyName,rs.name receiveShopName,
        rm.name receiveMemberName,p.name paywayName,rp.name returnPaywayName,ct.userName creatorName,
        mf.userName modifierName,pay.name payCurrencyDefineName
        FROM memberPayment mp
        LEFT JOIN application a ON a.id=mp.applicationID
        LEFT JOIN company c ON c.id=mp.companyID
        LEFT JOIN site s ON s.id=mp.siteID
        LEFT JOIN member m ON m.id=mp.memberID
        LEFT JOIN memberbank mb ON mb.id=mp.memberBankID
        LEFT JOIN memberpayway my ON my.id=mp.memberPaywayID
        LEFT JOIN company rc ON rc.id=mp.receiveCompanyID
        LEFT JOIN shop rs ON rs.id=mp.receiveShopID
        LEFT JOIN member rm ON rm.id=mp.receiveMemberID
        LEFT JOIN payway p ON p.id=mp.paywayID
        LEFT JOIN payway rp ON rp.id=mp.returnPaywayID
        LEFT JOIN user ct ON ct.id=mp.creator
        LEFT JOIN user mf ON mf.id=mp.modifier
        LEFT JOIN currencyDefine pay ON pay.id=mp.payCurrencyDefineID
        WHERE mp.id=#{id}
    </select>

    <select id="getOutSystemListDtoByMap" resultType="com.kingpivot.api.dto.memberPayment.OutMemberPaymentListDto">
        SELECT mp.id memberPaymentID,mp.*,c.name companyName,s.name siteName,m.name memberName,
        mb.name memberBankName,my.name memberPaywayName,rc.name receiveCompanyName,rs.name receiveShopName,
        rm.name receiveMemberName,p.name paywayName,rp.name returnPaywayName,ct.userName creatorName,mem.name memberOrderName,
        mf.userName modifierName,pay.name payCurrencyDefineName
        FROM memberPayment mp
        LEFT JOIN company c ON c.id=mp.companyID
        LEFT JOIN site s ON s.id=mp.siteID
        LEFT JOIN member m ON m.id=mp.memberID
        LEFT JOIN memberbank mb ON mb.id=mp.memberBankID
        LEFT JOIN memberpayway my ON my.id=mp.memberPaywayID
        LEFT JOIN company rc ON rc.id=mp.receiveCompanyID
        LEFT JOIN shop rs ON rs.id=mp.receiveShopID
        LEFT JOIN member rm ON rm.id=mp.receiveMemberID
        LEFT JOIN payway p ON p.id=mp.paywayID
        LEFT JOIN payway rp ON rp.id=mp.returnPaywayID
        LEFT JOIN user ct ON ct.id=mp.creator
        LEFT JOIN user mf ON mf.id=mp.modifier
        LEFT JOIN memberOrder mem ON mp.memberOrderID
        LEFT JOIN currencyDefine pay ON mp.payCurrencyDefineID
        <where>
            <if test="applicationID != null">
                AND mp.applicationID = #{applicationID}
            </if>
            <if test="companyID != null">
                AND mp.companyID = #{companyID}
            </if>
            <if test="siteID != null">
                AND mp.siteID = #{siteID}
            </if>
            <if test="memberID != null">
                AND mp.memberID = #{memberID}
            </if>
            <if test="memberBankID != null">
                AND mp.memberBankID = #{memberBankID}
            </if>
            <if test="memberPaywayID != null">
                AND mp.memberPaywayID = #{memberPaywayID}
            </if>
            <if test="receiveCompanyID != null">
                AND mp.receiveCompanyID = #{receiveCompanyID}
            </if>
            <if test="receiveShopID != null">
                AND mp.receiveShopID = #{receiveShopID}
            </if>
            <if test="receiveMemberID != null">
                AND mp.receiveMemberID = #{receiveMemberID}
            </if>
            <if test="objectDefineID != null">
                AND mp.objectDefineID = #{objectDefineID}
            </if>
            <if test="objectID != null">
                AND mp.objectID = #{objectID}
            </if>
            <if test="payFrom != null">
                AND mp.payFrom = #{payFrom}
            </if>
            <if test="paywayID != null">
                AND mp.paywayID = #{paywayID}
            </if>
            <if test="returnType != null">
                AND mp.returnType = #{returnType}
            </if>
            <if test="returnBackType != null">
                AND mp.returnBackType = #{returnBackType}
            </if>
            <if test="returnPaywayID != null">
                AND mp.returnPaywayID = #{returnPaywayID}
            </if>
            <if test="status != null">
                AND mp.status = #{status}
            </if>
            <if test="isValid != null">
                AND mp.isValid = #{isValid}
            </if>
            <if test="isLock != null">
                AND mp.isLock = #{isLock}
            </if>
            <if test="keyWords != null">
                AND (mp.name like #{keyWords}
                OR mp.orderCode like #{keyWords})
            </if>
            <if test="beginTime != null">
                AND mp.createdTime >= #{beginTime}
            </if>
            <if test="endTime != null">
                AND mp.createdTime &lt;= #{endTime}
            </if>
            <if test="beginAmount != null">
                AND mp.amount >= #{beginAmount}
            </if>
            <if test="endAmount != null">
                AND mp.amount &lt;= #{endAmount}
            </if>
            <if test="payCurrencyDefineID != null"> AND mp.payCurrencyDefineID=#{payCurrencyDefineID} </if>
            <if test="paidAmount != null"> AND mp.paidAmount=#{paidAmount} </if>
        </where>
        <choose>
            <when test="sortTypeTime!= null">
                <if test="sortTypeTime==1">
                    ORDER BY mp.createdTime ASC
                </if>
                <if test="sortTypeTime==2">
                    ORDER BY mp.createdTime DESC
                </if>
            </when>
            <when test="sortTypeName!= null">
                <if test="sortTypeName==1">
                    ORDER BY mp.name ASC
                </if>
                <if test="sortTypeName==2">
                    ORDER BY mp.name DESC
                </if>
            </when>
            <when test="sortTypeAmount != null">
                <if test="sortTypeAmount==1">
                    ORDER BY mp.amount ASC
                </if>
                <if test="sortTypeAmount==2">
                    ORDER BY mp.amount DESC
                </if>
            </when>
        </choose>
    </select>

    <select id="getOneMemberPaymentDetailByID" parameterType="java.lang.String" resultType="com.kingpivot.api.dto.memberPayment.OutMemberPaymentDto">

        SELECT m.id memberPaymentID,
               m.*,
               a1.name applicationName,
               c2.name companyName,
               s3.name siteName,
               m4.name memberName,
               d5.name deviceName,
               m8.name memberOrderName,
               m9.name memberBankName,
               m11.name memberPaywayName,
               r16.name receiveCompanyName,
               r17.name receiveShopName,
               r18.name receiveMemberName,
               o20.name objectDefineName,
               p25.name paywayName,
               r35.name returnPaywayName,
               c37.name currencyDefineName,
               c38.name payCurrencyDefineName,
               u.name creatorName
        FROM memberPayment m
                 LEFT JOIN application a1 ON a1.isValid=1 AND a1.isLock=0 AND a1.id=m.applicationID
                 LEFT JOIN company c2 ON c2.isValid=1 AND c2.isLock=0 AND c2.id=m.companyID
                 LEFT JOIN site s3 ON s3.isValid=1 AND s3.isLock=0 AND s3.id=m.siteID
                 LEFT JOIN member m4 ON m4.isValid=1 AND m4.isLock=0 AND m4.id=m.memberID
                 LEFT JOIN device d5 ON d5.isValid=1 AND d5.isLock=0 AND d5.id=m.deviceID
                 LEFT JOIN memberOrder m8 ON m8.isValid=1 AND m8.isLock=0 AND m8.id=m.memberOrderID
                 LEFT JOIN memberBank m9 ON m9.isValid=1 AND m9.isLock=0 AND m9.id=m.memberBankID
                 LEFT JOIN memberPayway m11 ON m11.isValid=1 AND m11.isLock=0 AND m11.id=m.memberPaywayID
                 LEFT JOIN company r16 ON r16.isValid=1 AND r16.isLock=0 AND r16.id=m.receiveCompanyID
                 LEFT JOIN shop r17 ON r17.isValid=1 AND r17.isLock=0 AND r17.id=m.receiveShopID
                 LEFT JOIN member r18 ON r18.isValid=1 AND r18.isLock=0 AND r18.id=m.receiveMemberID
                 LEFT JOIN objectDefine o20 ON o20.isValid=1 AND o20.isLock=0 AND o20.id=m.objectDefineID
                 LEFT JOIN payway p25 ON p25.isValid=1 AND p25.isLock=0 AND p25.id=m.paywayID
                 LEFT JOIN payway r35 ON r35.isValid=1 AND r35.isLock=0 AND r35.id=m.returnPaywayID
                 LEFT JOIN currencyDefine c37 ON c37.isValid=1 AND c37.isLock=0 AND c37.id=m.currencyDefineID
                 LEFT JOIN currencyDefine c38 ON c38.isValid=1 AND c38.isLock=0 AND c38.id=m.payCurrencyDefineID
                 LEFT JOIN member  u ON u.isValid=1 AND u.isLock=0 AND u.id=m.creator
        WHERE m.isValid=1 AND m.id=#{id}
    </select>

</mapper>
